html{
font-family: "Times New Roman", Times, serif;

}
body{
    font-size: 1.4em;
    line-height: 1.2;
}

h1{
    font-family: Papyrus, fantasy;
    font-size: 3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-family: Papyrus, fantasy;
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.2;
}

@media only screen and (min-width: 600px)
{
    .book{width:75vw;}
}

@media only screen and (min-width: 900px)
{
    .book{width:50vw;}
    }
